.blogPostHeading{
    font-size: 3.3rem;
  font-weight: 600;
    text-align: center;
}
.blogPostForm{
    width: 100%;
  border: 1px solid var(--bg-gray);
    border-radius: 6px;
    background-color: white;
    padding: 2.8rem !important;
}
.lablePost{
    font-weight: 500;
    font-size: 1.8rem;
    text-transform: capitalize;
    margin-left: 4px;
    color: #343232;
    margin-top: 2px;
}






.ContainerBlogForm{
    padding-left: 0 !important;
    padding-right: 0 !important;
    background-color:#f2f2f2 ;
  }

  .paddingTopBottomBlogForm{
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
  .HeroiImgTextBlogForm{
    color: white;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 1rem;
  }
  .HeroiImgTextH5BlogForm{
    color: white;
    font-weight: 500;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .symbolSizeBlogForm{
    font-size: xx-large;
    padding-right: 1rem;
  }
  .blogPostSpanText {
    color: rgb(173, 172, 172);
  }


  .blogPostFormInput{
    background-color: #f2f2f2 !important ;
    border-radius: 0px !important;
    font-size: large !important;
    padding: 1rem;
    border: 2px solid #d9d9d9 !important;
    resize: none;
  }
  .blogPostFormInput:focus{
    box-shadow: 0 0 0 0.17rem rgb(231 76 60 / 25%);
  }
  .labelPostForm{
      font-size: x-large;
      font-weight: 500;
      padding-bottom: 0.5rem;
  }
  .blogFormDesciptionSpan{
      font-size: large;
      color: gray;
  }
  .preview{
      display: flex;
      flex-direction: row;
      width: 100%;
  }
  .preview div{
      display: flex;
      flex-direction: column;
      padding-right: 20px;
  }
  .preview div img{
      width: 20rem;
      padding-bottom: 10px;
  }
  .blogPostFormBtn{
    width: 15rem !important;
    font-size: x-large;
    padding: 1rem;
    right: 0;
    align-self: flex-end;
  }
  @media only screen and (max-width:800px){

      .blogPostForm{
          width: 100%;

      }
      .blogPostFormBtn{
        font-size: large;
      }
      .blogFormDesciptionSpan{
        font-size: small;
    }
    .labelPostForm{
        font-size: large;
    }
    .blogPostHeading {
        font-size: x-large;
        font-family: PoppinsBold;
    }
  }
  @media only screen and (max-width:600px){
    .blogPostPtext {
        font-size: x-small;
      }
      .blogPostForm{
          width: 100%;
          padding: 1rem !important;
      }
      .blogPostFormBtn{
        align-self: center;
      }
  }
