.btnSeeMore{
    display: flex;
    justify-content: center;
    align-items: center;



}
.seeMorebtn{
    text-decoration: none;
    color: white;
    padding: 6px 48px;
    border-radius: 5px;
    text-transform: uppercase;
    background: var(--theme-color);
    font-size: 20px;
    font-weight: 600;
    transition: .3s;
    border: 2px solid var(--theme-color);
}
.seeMorebtn:hover{
    color: black;
    color: var(--theme-color);
    background: white;
    border: 2px solid var(--theme-color);
}
