@tailwind base;
@tailwind components;
@tailwind utilities;

.headingCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.packagePara{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.packagePara p{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
